body#homepage {
  display: flex;
  flex-direction: column;    
  background-image: url("images/movie\ background.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hoofd {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #4d4747f5;
    outline: solid 1px;
    padding: 1em; 
    margin: 0em 1em; 
}
/* Home page buttons */
.netflix {
    background-color: black;
    color: red;
    font-weight: bolder;
    font-family: sans-serif;
}

.netflix:hover, .aboutUs:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.aboutUs {
    background-color: #312f31;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    
}

.menu-button {
    padding: 1.1em 2em;
    margin: 0.5em;
    cursor: pointer;
    transition-duration: 0.4s; 
    border: none;
}

/* Netflix shows */
body#netflix {
  background-color: rgb(29, 28, 28);
  background-image: none;
  color: red;
  font-weight: bolder;
  font-family: sans-serif;
  align-items: center;
}

.breakingBad img, .theOffice img {
width: 40%;
height: 10%;
}

.onePiece img {
  width: 30%;
  height: 5%;
}

.breakingBad {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 10em 2em 10em;
  margin: 5em auto;
  justify-content: space-between;
  border: 1px solid black;
  background-color: black;
  box-shadow: 0 0.5em 1em;
  
}
.breakingBad h3 {
  width: 100%;
}

.theOffice, .onePiece {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 10em 2em 10em;
  margin: 5em auto;
  justify-content: space-between;
  border: 1px solid black;
  background-color: black;
  box-shadow: 0 0.5em 1em;
}

.theOffice h3, .onePiece h3 {
  width: 100%;
}

.subdiv a {
    text-decoration: none;
}
.subdiv {
  display: flex 
}

/* Images from the homepage */
.inhoud {
  background-color: #4d4747f5;
  box-shadow: 0 0.5em 1em;
  outline: solid 1px;
  margin: 6em 1em 2em 1em;
  padding: 0.5em 7em 6em 1em;
  text-align: center;
}

.inhoud h2 {
  width: 100%;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em
}

#imageHomepage {
  width: 13em;
  margin: 1em
}


/* Footer with my info and sources */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  margin: 6em 1em 1em 1em;
  background-color: #4d4747f5;
  box-shadow: 0 0.5em 1em;
  outline: solid 1px;
  font-family: sans-serif;
  width: match-parent;
}

.info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.sourcesButton a,
.sourcesButton {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

/* Extra info about Breaking Bad show */
#infoBreakingBad {
  display: flex;
  flex-direction: column;
  background-image: url(images/breaking-bad-logo.jpg);
  background-size: cover;
  color: rgb(0, 0, 0);
  align-items: center;
}

.titleBreakingBad {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  color: rgb(194, 193, 193);
}

.storyBreakingBad, .extraInfoBreakingBad, .actors {
  background-color: rgba(187, 186, 186, 0.923);
  box-shadow: 0 0.5em 1em;
  border: 1px solid black;
  margin: 3em;
  padding: 1em;
}
 /* very confusing */
.actors {
  background-color: rgba(187, 186, 186, 0.923);
  box-shadow: 0 0.5em 1em;
  border: 1px solid black;
  margin: 3em;
  padding: 1em;
  text-align: center;
}

.actor {
  display: inline-block; 
  margin: 0em 1em;
  text-align: center;
}

.actor img {
  max-width: 100%;
}

.actor p {
  margin: 0.5em 0;
}


/* About us page */
#aboutUsPage {
  background-color: #312f31;
}

.titleAboutUs {
  color: white;
  margin: 2em;
}

.theOwner, .theWebsite, .problems, .future {
  color: white;
  background-color: #656365;
  border: 1px solid black;
  float: left;
  width: 60%;
  margin: 1em 1em 3em 1em;
  padding: 1em;
  box-shadow: 0 0.5em 1em black;

}

#hvaBuilding {
  width: 30%;
  float: right;
  margin: 0em 2em 0;
  border: solid black 2px;
  box-shadow: 0 0.5em 1em black;
}




